<!--include header-->
<%- include("partials/header.ejs") %>


<!--main work-->
<div class="workTitle p-3">
    <h1 class="p-2">Work List</h1>
</div>
<div class="card mx-auto px-0 col-lg-4 col-sm-6 col-9  shadow-lg" style="height: 100vh;">
    <div class="card-header">
        <form class="item d-flex align-items-center" action="/work" method="post">
            <input type="text" name="listItem" placeholder="New Item" class="col-10 p-2">
            <input type="image" src="/assets/plus-circle.svg" class="btnSubmit p-2">
        </form>
    </div>
        <% for(let i=0; i<locals.workList.length; i++){%>
            <div class="toDoList d-flex p-3"> 
                 <input type="checkbox" class="task" value="taskChecker">
                <label for="taskChecker" class="stringItem mx-auto">
                    <%= JSON.stringify(locals.workList[i]).slice(1, JSON.stringify(locals.workList[i]).length - 1); %>
                </label>
            </div>
            <%} %> 
        
  </div>




<!--include footer-->
<%- include("partials/footer.ejs") %>
